# Title
## Introduction
text

In [8]:
from csv import reader
file = open("hacker_news.csv")
opened_file = reader(file)
hn = list(opened_file)
hn[:5]

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'],
 ['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01']]

In [9]:
#removing headers
headers = hn[0]
hn = hn[1:]

In [10]:
print(headers)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [11]:
print(hn[:5])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

### Filtering the data
Since I'm only concerned with post titles beginning with 'Ask HN' or 'Show HN', I'll create a new list of lists containing just the data for those titles.

In [14]:
ask_posts = []
show_posts = []
other_posts = []

for row in hn:
    title = row[1]
    
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

Now I'll check the number of posts in the three lists

In [15]:
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

Now I'll determine if ask posts or show posts receive more comments on average.

In [19]:
total_ask_comments = 0

for row in ask_posts:
    num_comments = int(row[4])
    total_ask_comments = total_ask_comments + num_comments
    
avg_ask_comments = total_ask_comments / len(ask_posts)
print(avg_ask_comments)

14.038417431192661

In [20]:
total_show_comments = 0

for row in show_posts:
    num_comments = int(row[4])
    total_show_comments = total_show_comments + num_comments
    
avg_show_comments = total_show_comments / len(show_posts)
print(avg_show_comments)

10.31669535283993

So it looks like ask posts on Hacker News receive on average four more comments compared to show posts.

Since ask posts receive more comments on average, I'll be focusing my analysis on just these posts. Next, I'll determine if ask posts created at a certain time are more likely to attract comments. 

First I will calculate the average number of comments ask posts receive by hour created, then calculate the average number of comments ask posts receive by hour created.

In [63]:
import datetime as dt

result_list = []

for row in ask_posts:
    result_list.append(
        [row[6], int(row[4])]
    )
    
counts_by_hour = {} # number of ask posts created during each hour of the day
comments_by_hour = {} # corresponding number of comments ask posts created at each hour received 
date_format = "%m/%d/%Y %H:%M"

for result in result_list:
    date = result[0]
    comments = result[1]
    hour = dt.datetime.strptime(date, date_format).strftime("%H")
    
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = comments
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += comments

In [64]:
counts_by_hour

{'00': 55,
 '01': 60,
 '02': 58,
 '03': 54,
 '04': 47,
 '05': 46,
 '06': 44,
 '07': 34,
 '08': 48,
 '09': 45,
 '10': 59,
 '11': 58,
 '12': 73,
 '13': 85,
 '14': 107,
 '15': 116,
 '16': 108,
 '17': 100,
 '18': 109,
 '19': 110,
 '20': 80,
 '21': 109,
 '22': 71,
 '23': 68}

In [65]:
comments_by_hour

{'00': 447,
 '01': 683,
 '02': 1381,
 '03': 421,
 '04': 337,
 '05': 464,
 '06': 397,
 '07': 267,
 '08': 492,
 '09': 251,
 '10': 793,
 '11': 641,
 '12': 687,
 '13': 1253,
 '14': 1416,
 '15': 4477,
 '16': 1814,
 '17': 1146,
 '18': 1439,
 '19': 1188,
 '20': 1722,
 '21': 1745,
 '22': 479,
 '23': 543}

Now I'll use the dictionaries 'counts_by_hour' and 'comments_by_hour' to calculate the average number of comments for posts created during each hour of the day.

In [66]:
avg_by_hour = []
# = {['hour':comments/post ], ['07': 1.03], ...}

for hour in comments_by_hour:
    avg_by_hour.append([hour, comments_by_hour[hour] / counts_by_hour[hour]])

avg_by_hour

[['07', 7.852941176470588],
 ['23', 7.985294117647059],
 ['18', 13.20183486238532],
 ['09', 5.5777777777777775],
 ['17', 11.46],
 ['13', 14.741176470588234],
 ['02', 23.810344827586206],
 ['21', 16.009174311926607],
 ['12', 9.41095890410959],
 ['16', 16.796296296296298],
 ['14', 13.233644859813085],
 ['20', 21.525],
 ['05', 10.08695652173913],
 ['22', 6.746478873239437],
 ['04', 7.170212765957447],
 ['01', 11.383333333333333],
 ['08', 10.25],
 ['03', 7.796296296296297],
 ['15', 38.5948275862069],
 ['11', 11.051724137931034],
 ['10', 13.440677966101696],
 ['00', 8.127272727272727],
 ['19', 10.8],
 ['06', 9.022727272727273]]

Now that I have the results I need, I will sort the list and print the five highest values in a format that's easier to read.

In [67]:
swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
    
print(swap_avg_by_hour)

[[7.852941176470588, '07'], [7.985294117647059, '23'], [13.20183486238532, '18'], [5.5777777777777775, '09'], [11.46, '17'], [14.741176470588234, '13'], [23.810344827586206, '02'], [16.009174311926607, '21'], [9.41095890410959, '12'], [16.796296296296298, '16'], [13.233644859813085, '14'], [21.525, '20'], [10.08695652173913, '05'], [6.746478873239437, '22'], [7.170212765957447, '04'], [11.383333333333333, '01'], [10.25, '08'], [7.796296296296297, '03'], [38.5948275862069, '15'], [11.051724137931034, '11'], [13.440677966101696, '10'], [8.127272727272727, '00'], [10.8, '19'], [9.022727272727273, '06']]

In [68]:
sorted_swap = sorted(swap_avg_by_hour, reverse = True)
print("Top 5 Hours for Ask Post Comments")

for average, hour in sorted_swap[:5]:
    print("{}: {:.2f} average comments per post".format(
            dt.datetime.strptime(hour, "%H").strftime(
                "%H:%M"), average))

Top 5 Hours for Ask Post Comments
15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post